@charset "UTF-8";
*{
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* header */
header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
img#logo{
    width: 180px;
}
#link a{
    padding: 7px;
    text-decoration: none;    
    color: white;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    white-space: nowrap;
}
.links{
    background-color: #0B2640;
    border-radius: 10px;
    padding: 2px;    
}

/* main */
.extra{
    text-decoration: none;
    border: 1px solid #0B2640;
    border-radius: 40%;

}
a{
    color: blue;
}
img#familia{
    width: 100%;
    height: 450px;
}
aside, section:nth-child(odd){
    background-color: #0B2640;
    padding: 8px;
    color: white;
    border-radius: 2%;
}
.contact{
    text-decoration: none;
    color: rgb(1, 160, 150);
    border-radius: 20%;
    padding: 4px;
    border: 1px solid white;
}
h1{
    text-align: center;
}
/* form */
form, label{
    padding: 10px;
}
#mensagem{
    resize: none;
    width: 40%;
    height: 70px;
}

/* tabela */
table{
    border-collapse: collapse;
    color: black;
}
thead{
    background-color: rgb(194, 192, 192);
}
tr, td{
    padding: 5px;
    border: 1px solid black;
    background-color: white;
}
/* extra */
.links:hover{
    background-color: rgb(1, 1, 191);
}