@charset "UTF-8";
*{
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
img#logo{
    width: 180px;
}
#link a{
    padding: 7px;
    text-decoration: none;    
    color: white;
}
#link{
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    white-space: nowrap;
}
.links{
    background-color: #0B2640;
    border-radius: 10px;
    padding: 2px;    
}

/* main */
a{
    color: blue;
}
img#familia{
    width: 90%;
    display: block;
    margin: 0 auto;
}
aside, section:nth-child(odd){
    background-color: #0B2640;
    padding: 8px;
    color: white;
    border-radius: 2%;
}
.contacts{
    text-decoration: none;
    color: rgb(1, 160, 150);
    border-radius: 20%;
    padding: 4px;
    border: 1px solid white;
    text-align: center;
}
h1{
    text-align: center;
}
/* form */
form, label{
    padding: 2px;
    margin: 2px;
    background-color: grey;
}
input.campos{
    border: 2px solid black;
    width: 94.5vw;
    padding: 5px;
}
#mensagem{
    resize: none;
    width: 40%;
    height: 70px;
    border: 2px solid black;
    width: 94.5vw;
}
#submeta{
    border: 2px solid black;
    width: 10vw;
    text-align: center;
    padding: 4px;
    margin: 5px;
}
#submeta:hover{
    background-color: #0B2640;
    color: white;
}
/* #Ser */
#ser{
    padding: 8px;
}
.contact{
    text-decoration: none;
    color: #0B2640;
    border-radius: 20%;
    padding: 4px;
    border: 1px solid #0B2640;
    text-align: center;
}
#ser img{
    width: 80vw;
    margin: 0 auto;
    display: block;
    padding:5px;
}
/* tabela */
#fazemos{
    list-style: lower-roman;
    padding: 7px;
    margin: 10px;

}
table{
    border-collapse: collapse;
    color: black;
}
thead{
    background-color: rgb(194, 192, 192);
}
tr, td{
    padding: 5px;
    border: 1px solid black;
    background-color: white;
}
/* rodapé*/
#rodapé{
    background-color: #0B2640;
    padding: 5px;
    color: white;
    margin: 1px;
}
#rodapé a{
    color: #0B2640;
    background-color: white;
    padding: 2px;
    text-decoration: none;
    border-radius: 5%;
}
/* extra */
.links:hover{
    background-color: rgb(1, 1, 191);
}