@charset "UTF-8";
*{
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
img#logo{
    width: 180px;
}
#link a{
    padding: 7px;
    text-decoration: none;    
    color: white;
}
#link{
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    white-space: nowrap;
}
.links{
    background-color: #0B2640;
    border-radius: 10px;
    padding: 2px;    
}

/* form */
form, label{
    padding: 2px;
    margin: 2px;
    background-color: grey;
}
input.campos{
    border: 2px solid black;
    width: 93vw;
    padding: 5px;
}
#mensagem{
    resize: none;
    width: 40%;
    height: 70px;
    border: 2px solid black;
    width: 93vw;
}
#submeta{
    border: 2px solid black;
    width: 10vw;
    text-align: center;
    padding: 4px;
    margin: 5px;
}
#submeta:hover{
    background-color: #0B2640;
    color: white;
}
/*rodape*/
#rodape{
    background-color: #0b264064; 
    padding: 5px;
    color: black;
    margin: 1px;
}
.extra{
    list-style: none;
    white-space: nowrap;
    color: #0B2640;
    border: 2px solid #0B2640;
    padding: 3px;
    margin: 3px;
    text-decoration: none;
}
/* extra */
.links:hover{
    background-color: rgb(1, 1, 191);
}
.extra:hover{
    background-color: #0B2640;
    color: white;
}
article:nth-child(odd){
    background-color: #0B2640;
    padding: 8px;
    color: white;
    border-radius: 2%;
}