@charset "UTF-8";
*{
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
img#logo{
    width: 180px;
}
#link a{
    padding: 7px;
    text-decoration: none;    
    color: white;
}
#link{
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    white-space: nowrap;
}
.links{
    background-color: #0B2640;
    border-radius: 10px;
    padding: 2px;    
}
a{
    color: blue;
}
.contacts{
    text-decoration: none;
    color: white;
    border-radius: 20%;
    padding: 4px;
    border: 1px solid white;
    text-align: center;
}
/*fazemos*/
#serviços{
    padding: 3px;
    display: grid;
    grid-template-columns: repeat(3,1.7fr) ;
    grid-template-rows: 90px repeat(2, 0.7fr);
    gap: 5px;
    color: rgb(240, 240, 240);
}
h1{
    font-size: 2.5em;
    color: #0B2640;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
}
h2{
    font-size: 1.3em;
}
p{
    text-align: inherit;
}
div{
    background-color: #0B2640;
    border-radius: 25px;
    padding: 7px;
}
#legal{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
#conflitos{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#piquete{
    grid-row: 2 / 3;
    grid-column: 3 / -1;
}
#jardim{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
#limpeza{
    grid-row: 3 / 4;
    grid-column: 3 / -1;
}
#gestao{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}
/* tabela */

table{
    border-collapse: collapse;
    color: black;
    width: 98vw;
}
th {
    background-color: rgb(194, 192, 192);
    border: 1px solid black;
}
tr, td{
    padding: 5px;
    border: 1px solid black;
    background-color: white;
}

/* rodapé*/
#rodape{
    background-color: #0b264064; 
    padding: 5px;
    color: black;
    margin: 1px;
    width: 98vw;
}
.extra{
    list-style: none;
    white-space: nowrap;
    color: #0B2640;
    border: 2px solid #0B2640;
    padding: 3px;
    margin: 3px;
    text-decoration: none;
}
/* extra */
.links:hover{
    background-color: rgb(1, 1, 191);
}
.extra:hover{
    background-color: #0B2640;
    color: white;
}
.material-symbols-outlined{
    background-color: rgb(122, 122, 221);
    padding: 7px;
    margin: 4px;
}